/* *{
    margin: 0;
    padding: 0;
} */

#pai{
    font-size: 16px;
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}

/* 500 / 50 = 250*/
p{
    background-color: aqua;
    width: 50vw; 
    height: 50vh;
}
